{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      },
      "@babel/typescript", { "jsxPragma": "h" }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
